<div class="homeContainer">

  <div class="homeContent">

    <div class="profile-Name">
      <label id="name" for="">PABLO <p>BOLAÑOS</p> </label>
    </div>

  </div>

  <h2 for="">Welcome to my Website</h2>
  <label for="">If you want to know more about me and my professional career you can download my Resume</label>

  <button>
    Download Resume
  </button>

  <div class="img-Container">

    <img src="" alt="Linkedin">
    <img src="" alt="GitHub">
    <img src="" alt="Istagram">

  </div>

</div>
