<div class="skill-Container">

  <header>
    <h1>My <p>Skills</p> </h1>
  </header>

  <main>

    <label class="description" for="">
      I have many knowledge and skills in the field of web development, here are some of them.
    </label>

    <div class="Box">
      <h3>Programming Languages</h3>

      <div class="content">

        <div id="general" class="cpp-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-c++-96.svg" alt="">
          <label id="text-logo" for="">C++</label>
        </div>

        <div id="general" class="cs-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-c-96.svg" alt="">
          <label id="text-logo" for="">C#</label>
        </div>

        <div id="general" class="jv-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-java-96.svg" alt="">
          <label id="text-logo" for="">Java</label>
        </div>

      </div>

    </div>

    <div class="Box">
      <h3>Web Development</h3>

      <div class="content">

        <div id="general" class="h-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-html-96.svg" alt="">
          <label id="text-logo" for="">HTML5</label>
        </div>

        <div id="general" class="css-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-css-96.svg" alt="">
          <label id="text-logo" for="">CSS</label>
        </div>

        <div id="general" class="js-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-javascript-96.svg" alt="">
          <label id="text-logo" for="">JAVASCRIPT</label>
        </div>

        <div id="general" class="a-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-angular-96.svg" alt="">
          <label id="text-logo" for="">ANGULAR</label>
        </div>

        <div id="general" class="tp-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-typescript-96.svg" alt="">
          <label id="text-logo" for="">TYPESCRIPT</label>
        </div>

        <div id="general" class="r-Box">
          <img id="svg-logo" src="../../../../assets/svg/icons8-react-native-96.svg" alt="">
          <label id="text-logo" for="">REACT</label>
        </div>

      </div>

    </div>

    <div>
      <h3>Frameworks</h3>

      <div>

        <div class="f-Box">

        </div>

      </div>

    </div>

    <div>
      <h3>Sfotwares & Tools</h3>

      <div>

        <div class="st-Box">

        </div>

      </div>

    </div>

  </main>

</div>
