
<div class="container">
  <header>
    <h1>My <label for="">Professional Experience</label> </h1>
  </header>

  <main>
    <label class="lbl-description" for="">
      In this page, i will be sharing my work experience and the projects i have worked on.
    </label>

    <div class="cardContainer">

      <section class="card">

        <label class="c-title" for="">Front-end Developer</label>
        <label class="c-company" for="">DTIC - ESPOCH</label>
        <label class="c-date" for="">02/2023 - Present | Riobamba, Ecuador</label>
        <ol class="c-description">
          <li>
            1. Developed and maintained several web applications
            using JavaScript, Typescript, HTML, CSS, Angular,
            Angular Material.
          </li>
          <li>
            2. Worked closely with the UI/UX team to design and
            implement responsive and dynamic user interface.
          </li>
          <li>
            3. Implement advance functionalities such as form
            validation, routing, and data visualization.
          </li>
          <li>
            4. Collaborate with the back-end team to ensure seamless integration between front-end and back-end systems.
          </li>
        </ol>

      </section>

      <section class="card">

        <label class="c-title" for="">Front-end Developer</label>
        <label class="c-company" for="">MELASOFT</label>
        <label class="c-date" for="">10/2021 - 02/2023 | Riobamba, Ecuador</label>
        <ol class="c-description">
          <li>
            1. Encourage collaboration and constant communication among team members.
          </li>
          <li>
            2. User interface design and web design with HTML and SS.
          </li>
          <li>
            3. Page cleanup and repair of broken links or images.
          </li>
          <li>
            4. Technical support to the complete project cycle from web design.
          </li>
          <li>
            5. Layout, development, programming and final publication.
          </li>
        </ol>
      </section>

      <section class="card">

        <label class="c-title" for="">Front-end Developer</label>
        <label class="c-company" for="">BUNUELOS DIAZ</label>
        <label class="c-date" for="">06/2020 - 09/2021 | Riobamba, Ecuador</label>
        <ol class="c-description" for="">
          <li>
            1. Created a reusable component library for the web
            application using Angular Material, resulting in faster
            development time for new features.
          </li>
          <li>
            2. Optimized website speed and performance by
            implementing lazy loading, code splitting and other
            techniques.
          </li>
          <li>
            3. Contributed to the development of the company's
            internal front-end and best practices.
          </li>
          <li>
            4. Developed bakery website using web technologies
            like, HTML, CSS, Typescript, Angular.
          </li>
        </ol>
      </section>

    </div>



  </main>
</div>

